build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-e4e30d64f351ca128c5e.json
build/.cmake/api/v1/reply/codemodel-v2-144e70775f0ce6bde043.json
build/.cmake/api/v1/reply/index-2021-06-27T14-02-37-0402.json
build/.cmake/api/v1/reply/target-opengl-Debug-22fd144f6912f9611e6e.json
build/.cmake/api/v1/reply/toolchains-v1-3ccdda3c588a7d14f579.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.20.3/CMakeCCompiler.cmake
build/CMakeFiles/3.20.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.20.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.20.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.3/CMakeSystem.cmake
build/CMakeFiles/3.20.3/CompilerIdC/a.out
build/CMakeFiles/3.20.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.20.3/CompilerIdCXX/a.out
build/CMakeFiles/3.20.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/.cmake/api/v1/reply/cache-v2-ab3d158c76c9719fb7c3.json
build/.cmake/api/v1/reply/index-2021-06-27T16-11-27-0038.json
build/.ninja_deps
build/.ninja_log
build/opengl
build/CMakeFiles/opengl.dir/src/main.cpp.o
build/.cmake/api/v1/reply/index-2021-06-28T07-23-02-0509.json
build/.cmake/api/v1/reply/index-2021-06-29T03-21-22-0458.json
build/Basic.glsl
build/.cmake/api/v1/reply/codemodel-v2-7b4ab4acd48ba982ce62.json
build/.cmake/api/v1/reply/index-2021-06-29T11-37-21-0703.json
build/.cmake/api/v1/reply/target-opengl-Debug-5d37c32184e2a5a314cc.json
build/res/shader/Basic.glsl
build/res/shader/V
